In [13]:
# multi indexing and heirarchy

In [14]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [15]:
#indec levels
np.random.seed(101)
outside=['G1','G1','G1','G2','G2','G2']
inside=[1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index=pd.MultiIndex.from_tuples(hier_index)

In [5]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [6]:
inside

[1, 2, 3, 1, 2, 3]

In [7]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [16]:
df=pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [17]:
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [18]:
df.loc['G1']

          A         B
1  2.706850  0.628133
2  0.907969  0.503826
3  0.651118 -0.319318

In [19]:
df.loc['G1'].loc[1]

A    2.706850
B    0.628133
Name: 1, dtype: float64

In [21]:
df.index.names=['groups','Num']

In [22]:
df

                   A         B
groups Num
G1     1    2.706850  0.628133
       2    0.907969  0.503826
       3    0.651118 -0.319318
G2     1   -0.848077  0.605965
       2   -2.018168  0.740122
       3    0.528813 -0.589001

In [25]:
df.loc['G2'].loc[2]['B']   #grabbing the item from G2  B 2

0.7401220570561068

In [26]:
df.xs('G1')    #xs = cross section

            A         B
Num
1    2.706850  0.628133
2    0.907969  0.503826
3    0.651118 -0.319318

In [27]:
df.xs(1,level='Num')

               A         B
groups
G1      2.706850  0.628133
G2     -0.848077  0.605965