In [1]:
import numpy as np
import pandas as pd

In [4]:
from numpy.random import randn

In [5]:
np.random.seed(101)

In [8]:
df=pd.DataFrame(randn(5,4),['a','b','c','d','e'],['w','x','y','z'])
                            #for rows             #for columns

In [11]:
df

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [13]:
#indexing and selection
df['w']   #w column

a    0.302665
b   -0.134841
c    0.807706
d   -0.497104
e   -0.116773
Name: w, dtype: float64

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
type(df['w'])

pandas.core.series.Series

In [17]:
df.w   #can use coloumn as this also

a    0.302665
b   -0.134841
c    0.807706
d   -0.497104
e   -0.116773
Name: w, dtype: float64

In [35]:
df[['w','z']]    #selecting rows

          w         z
a  0.302665 -1.159119
b -0.134841  0.184502
c  0.807706  0.329646
d -0.497104  0.484752
e -0.116773  1.996652

In [31]:
df['new'] =df['w']+df['y']

In [32]:
df

          w         x         y         z       new
a  0.302665  1.693723 -1.706086 -1.159119 -1.403420
b -0.134841  0.390528  0.166905  0.184502  0.032064
c  0.807706  0.072960  0.638787  0.329646  1.446493
d -0.497104 -0.754070 -0.943406  0.484752 -1.440510
e -0.116773  1.901755  0.238127  1.996652  0.121354

In [33]:
df.drop('new',axis=1)  # drop is for delete
                        #here axis is from indexing when we specify it will check the columns

          w         x         y         z
a  0.302665  1.693723 -1.706086 -1.159119
b -0.134841  0.390528  0.166905  0.184502
c  0.807706  0.072960  0.638787  0.329646
d -0.497104 -0.754070 -0.943406  0.484752
e -0.116773  1.901755  0.238127  1.996652

In [34]:
df.shape

(5, 5)

In [38]:
#selecting rows 
df.loc['a']       #not only columns rows are also series 
                #this is one type of  getting rows using loc

w      0.302665
x      1.693723
y     -1.706086
z     -1.159119
new   -1.403420
Name: a, dtype: float64

In [40]:
df.iloc[1]        #second methos using iloc used to get rows by their index numbers

w     -0.134841
x      0.390528
y      0.166905
z      0.184502
new    0.032064
Name: b, dtype: float64

In [42]:
df.loc['b','y']     #item at that row and column

0.16690463609281317

In [43]:
df.loc[['a','b'],['w','y']]

          w         y
a  0.302665 -1.706086
b -0.134841  0.166905